.header {
  padding: 5px 20px;
  background: #fcfcfc;
  font-family: baskerville-urw;
}

.title{
  color: #222;
  text-decoration: none;
}

.login, .register {
  font-family: baskerville-urw;
  float: right;
  text-decoration: none;
  color: #222;
  padding-top: 10px;
}
