.header {
  padding: 5px 20px;
  background: powderblue;
}

.title{
  font-family: baskerville-urw;
  color: #222;
  text-decoration: none;
}

.login, .register{
  font-family: Arial;
  font-size: small;
  float: left;
  text-decoration: none;
  color: #222;
  padding-top: 10px;
}

.logout, .new-post{
  font-family: Arial;
  font-size: small;
  float: bottom;
  text-decoration: none;
  color: #222;
  padding-top: 10px;
}
.logout:hover, .new-post:hover, .login:hover, .register:hover {
  color: aliceblue;
  text-decoration: none;
}
